<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DDXViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DDXViewer.Properties.Settings>
            <setting name="BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PaintPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TexConvURL" serializeAs="String">
                <value>https://github.com/microsoft/DirectXTex/releases/download/feb2022/texconv.exe</value>
            </setting>
            <setting name="MaxRate" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="GoodRate" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="MediumRate" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="PoorRate" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="MaxBackUp" serializeAs="String">
                <value>25</value>
            </setting>
        </DDXViewer.Properties.Settings>
    </userSettings>
</configuration>